html {
    font-size: 16px;
}
/*con rem trabajo con el font-size relativo*/
.margen1 {
    margin: 1rem 0.5rem 1rem 1rem;
    width: 100px;
    height: 100px;
    background-color: rgb(00, 66,00);
    display: inline-block;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 1.2rem;
    color: rgb(50,100,25);
    background: ;
}